body {
    margin: 0;
    padding: 0;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

nav {
    position: fixed !important;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0.1px 5px black;
    transition: 0.5s;
}

#nav_bar.dark-mode {
    background-color: #121212 !important;
}

.my_links>li {
    margin-right: 5px;
}

.my_links>li>a {
    color: black;
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins";
    letter-spacing: 0.9;
    transition: 0.5s;
}

.my_links>li>a.dark-mode {
    color: rgb(222, 237, 238);
    font-weight: 600;
}

.my_input {
    margin-right: 5% !important;
    width: 34%;
    margin-top: 10px;
}

.my_input>input {
    font-size: 0.9rem;
    padding-left: 35px;
}

.my_input>input:focus {
    outline: none;
    outline-width: 0px;
    box-shadow: none;
}

.my_input>i {
    position: absolute;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    color: #2a2d40;
}

.my_icons {
    width: 14%;
    justify-content: space-between;
    height: 100%;
    margin-right: 2%;
}

.my_icons>i {
    font-size: 18px;
    cursor: pointer;
}

.my_icons>i:hover {
    font-weight: 600;
}

#nav_icon.dark-mode {
    color: white;
}

.my_icons > .sun {
    display: none;
}

.my_icons > .moon {
    display: block;
}

.my_icons > .sun.dark-mode {
    display: block;
}

.my_icons > .moon.dark-mode {
    display: none;
}

#banner {
    height: 530px;
    margin-top: 7%;
    margin-left: 1.5%;
    width: 97%;
}

#banner-2 {
    height: 212px;
    margin-top: 1%;
}

#omg-deals {
    margin-top: 1%;
}

#omg-deals div {
    width: 98%;
    margin: auto;
}

#omg-deals>div>img {
    min-width: 125px;
    margin-right: 18px;
    height: 150px;
    margin-bottom: 20px;
    cursor: pointer;
}

#budget-buys {
    margin-top: 1%;
}

#budget-buys>div {
    width: 100%;
}

#budget-buys>div>img {
    width: 10.5%;
    height: 170px;
    margin-bottom: 15px;
}

#budget-buys>div>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* #top-categories {
    margin-top: 1%;
} */

#top-categories>div>img {
    width: 218px;
    height: 315px;
    margin-left: 4px;
    margin-bottom: 10px;
}

#top-brands {
    margin-top: 3%;
}

#top-brands>div>img {
    width: 170px;
    height: 200px;
    margin-left: 1.2%;
    margin-bottom: 1%;
}

#shop-by-category {
    margin-top: 1%;
}

#shop-by-category>div {
    width: 90%;
    margin: auto;
}

#shop-by-category>div>img {
    width: 174px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#my_footer {
    margin-top: 3%;
}