* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins' !important;
}

.container {
    height: 500px;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    background-color: black;
}

.upper-section {
    height: 35%;
    background-color: black;
    border-bottom: 1px solid rgb(59, 9, 9);
}

.upper-section > input {
    float: right;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    height: 40px;
    text-align: end;
    width: 100%;
    font-size: 25px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.upper-section > p {
    color: white;
    font-size: 22px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.lower-section {
    height: 65%;
    background-color: black;
}
