#coupon {
    height: 450px;
    width: 350px;
    position: absolute;
    background-color: rgb(179, 12, 12);
    margin-left: 38%;
    margin-top: -550px;
    z-index: 100;
    display: none;
    /* transition: 3s ease-out 0s 1 wait, 0.21s ease-out 3s ; */
    transition: opacity 0.5s ease-out
}


#coupon_close {
    position: absolute;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 16px;
    font-weight: 600;
    float: right;
    top: -16px;
    cursor: pointer;
    left: 96%;
    color: #fe5663;
    background: #360d0d;
}